@import 'nib'
@import 'jeet'

global-reset()

body
	font-family: 'Oswald', sans-serif
	overflow: hidden
	padding: 0
	margin: 0
	
#trig-rot
	absolute: bottom 40px left 50%
	transform: translateX(-50%)
	
	span
		display: inline-block
		color: white
		background: rgba(0,0,0,0.75)
		border: 1px solid greenyellow
		padding: 10px 20px
		margin: 0 2px
		letter-spacing: 2px
		cursor: pointer
		transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 2)
		
		&:hover
			transform: scale(1.05)
			
.contact
	font-family: 'Oswald', sans-serif
	absolute: bottom 16px left 20px
	z-index: 9999
	color: #eee

a, p
	font-family: 'Oswald', sans-serif
	font-weight: 200
	color: #eee
	font-size: 14px
	display: block
	letter-spacing: 12px
	text-decoration: none
	margin-bottom: 10px
	
p
	margin-bottom: 0
	letter-spacing: 1px